$mintGreen: #BDE1CD;
$darkGray: #292929;
$lightGray: #646464;
$resumeMargin: 2.1em;
$previewMargin: 1em;
$workTopPadding: 130px;
$indentation: 57px;
$multiplier: 2.6;
$workimagesquare: 380px;

@font-face 
{                               
	font-family: "Outage Cut";
	src: url("../fonts/Outage Cut.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face 
{                               
	font-family: "Lavanderia Regular";
	src: url("../fonts/Lavanderia Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face 
{                               
	font-family: "Blanch Caps";
	src: url("../fonts/BLANCH_CAPS.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face 
{                               
	font-family: "Blanch Caps Light";
	src: url("../fonts/BLANCH_CAPS_LIGHT.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@mixin fadeTransition
{
	-webkit-transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	transition: opacity 1s linear;
}

html, body, h1, h3
{
	margin: 0;
	padding: 0;
}

a:link, a:hover, a:active, a:visited
{
	color: inherit;
	text-decoration: none;
}

body > header
{
	nav + h1
	{
		position: relative;
		color: white;
		background-image: url("../images/woodplanks.png");
		background-size: 1680px 300px;
		font-size: 4em;
		padding: 1em .5em 1em .5em;
		top: 65px;
		margin-bottom: 1em;
		
		> div
		{
			margin: 0 auto;
			width: 12.5em;
		}
	}
	
	nav
	{
		position: fixed;
		padding-top: 30px;
		text-align: right;
		font-family: "Blanch Caps";
		font-size: 24pt;
		box-shadow: 0 2px 10px -.05em rgba(0,0,0,.5)	;
		background-color: rgba(255,255,255,.95);
		width: 100%;
		z-index: 250;	
		
		a
		{
			text-transform: uppercase;
			height: 100%;
			clear: both;
		}
		
		a:first-child, a:nth-child(2), a:nth-child(3)
		{
			margin-right: .6em;
		}
		
		a:last-child
		{
			margin-right: 20%;
		}
		
		a > img
		{
			height: 16px;
			width: 16px;
		}
	}
	
	span
	{
		position: relative;
		display: block;
		//margin-left: 3.5em;
	}
	
	span:first-child
	{
		text-transform: uppercase;
		font-family: "Outage Cut";
		font-weight: normal;
		font-style: normal;
	}
	
	span:nth-child(2)
	{
		font-family: "Lavanderia Regular";
		padding-left: 3.5em;
		margin-top: -.85em;
		font-weight: normal;
		font-style: normal;
	}
}

body > section
{
	margin: 0 auto;
	width: 50em;
	padding: 4em 0;
	
	&:not(:last-of-type)
	{
		border-bottom: solid thin $darkGray;
	}
	
	&:last-of-type
	{
		h2, h3
		{
			font-family: "Blanch Caps";
			font-weight: normal;
			font-style: normal;
		}
	
		h2
		{
			background-color: $darkGray;
			padding: 0 .2em;
			color: white;
			font-size: 32pt;
			display: inline-block;
			margin: .4em 1.35em;
		}
		
		h3
		{
			margin-left: $resumeMargin;
		}
		
		h3
		{
			font-size: 24pt;
			
			span
			{
				color: $lightGray;
				font-family: "Blanch Caps Light";
			}
		}
		
		p
		{
			font-family: Helvetica, sans-serif;
			margin: 0 $resumeMargin * 2;
			font-weight: lighter;
		}
	}
	
	header
	{
		margin-bottom: 15px;
		
		h1
		{
			color: white;
			background-color: $mintGreen;
			padding: 0 .8em .1em .8em;
			font-family: "Blanch Caps";
			font-size: 32pt;
			display: inline-block;
			font-weight: normal;
			font-style: normal;
			vertical-align: middle;
		}
	}
	
	&:first-of-type
	{
		font-family: "Blanch Caps";
		font-weight: normal;
		font-style: normal;
		
		p
		{
			color: white;
			display: inline-block;
			font-size: 32pt;
			margin: .1em 1.35em;
			width: 18em;
			
			&:first-of-type
			{
				margin-top: .2em;
			}
			
			span
			{
				background-color: $darkGray;
				display: inline-block;
				padding: 0 .2em;
				
				&.green
				{
					background-color: $mintGreen;
					margin: 0 .2em;
				}
			}
		}
	}
}

header
{
	h1 + a
	{		
		margin-left: 0.8em;
		vertical-align: middle;
	
		img
		{
			width: 28px;
			height: 28px;
			vertical-align: middle;
		}
		
		span
		{
			color: #646464;
			font-family: "Blanch Caps";
			padding-left: 0.3em;
			vertical-align: middle;
		}
	}
	
	h1 + a[href="#"] img
	{
		width: 28px;
		height: 22px;
	}
}

header + *
{
	margin-top: 0 !important;
}

footer
{
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	color: white;
	background-image: url("../images/woodplanks.png");
	background-size: 1680px 300px;
	//height: 150px;
		
	p
	{
		margin: 0;
		position: relative;
	}
	
	p:first-child
	{
		padding-top: 2em;
		//padding-bottom: .5em;
	}
	
	p:nth-child(2)
	{
		line-height: 2em;
		opacity: .7;
	}
	
	p:first-child, p:nth-child(2)
	{
		margin-left: 20%;
	}
		
	p:last-of-type
	{		
		display: inline-block;
		bottom: 6em;
		margin-left: 60%;
		
		img
		{
			vertical-align: -1.3em;
			height: 80px;
			width: 71px;
		}
	}
}

#work
{
	position: relative;
	min-height: 35em;

	section
	{	
		//background-color: white;		
		position: absolute;
		padding-top: 7em;
		//min-width: 43em;
		padding-left: 57px;
		padding-right: 57px;
		overflow: hidden;
		
		> a:first-child
		{
			display: block;
			position: absolute;
			z-index: 10;
			top: 0;
			
			&, > img
			{
				width: 85px;
				height: 85px;
			}
		}
		
		> div
		{
			position: relative;
			z-index: 0;
			opacity: 0;
			
			display: -moz-box;
			display: -webkit-box;
			display: box;
			
			-webkit-box-orient: horizontal;
			-moz-box-orient: horizontal;
			box-orient: horizontal;
			
			background-color: white;
			
			> div:nth-of-type(2)
			{
				margin-left: 1em;
				
				display: -webkit-box;
				display: -moz-box;
				display: box;
				
				-webkit-box-flex: 1;
				-moz-box-flex: 1;
				box-flex: 1;
				
				-webkit-box-orient: vertical;
				-moz-box-orient: vertical;
				box-orient: vertical;
				position: relative;
			} 
			
			> div:first-of-type
			{
				min-width: $workimagesquare;
				min-height: $workimagesquare;
			}
		}
		
		> div > div
		{
			z-index: 0;
			position: relative;
		}
		
		> div > div > img
		{
			max-height: $workimagesquare;
			max-width: $workimagesquare;
			position: absolute;
			
			left:0;
			right:0;
			margin-left:auto;
			margin-right:auto;
			
			&:first-child
			{
				z-index: 1;
			}
		}
		
		header
		{
			margin-top: -.8em;
		}
		
		hgroup
		{
			
			h2
			{
				margin: 0;
				color: $mintGreen;
				font-family: "Blanch Caps";
				font-weight: normal;
				font-style: normal;
				font-size: 2.5em;
			}
			
			h3
			{
				font-weight: lighter;
				font-family: Helvetica, sans-serif;
				color: $darkGray;
				font-size: .9em;
				text-transform: lowercase;
			}
		}
		
		p
		{
			font-weight: lighter;
			font-family: Helvetica, sans-serif;
			font-size: .9em;
			line-height: 1.3em;
			//width: 20.5em;
		}
		
		p + div
		{
			position: absolute;
			bottom: 0;
			
			& > a
			{
				max-width: 4em;
				height: 4em;
				vertical-align: bottom;
				margin-right: 1em;
				
				img
				{
					vertical-align: bottom;
				}
			}
		}
			
		&:not(:target)
		{
			> div
			{
				//z-index: 1;
				opacity: 0;
				z-index: -1;
				//@include fadeTransition;
			}
		}
		
		&:target
		{
			> div
			{
				//z-index: 2;
				opacity: 1;
				z-index: 2;
				//@include fadeTransition;
			}
		}
		
		&#one
		{
			> div
			{
				opacity: 1;
				z-index: 2;
				//@include fadeTransition;
			}
		}
	}
	
	> section:nth-of-type(2)
	{
		> a
		{
			margin-left: $indentation * ($multiplier * 1);
		}
	}
	
	> section:nth-of-type(3)
	{
		> a
		{
			margin-left: $indentation * ($multiplier * 2);
		}
	}
	
	> section:nth-of-type(4)
	{
		> a
		{
			margin-left: $indentation * ($multiplier * 3);
		}
	}
	
	> section:nth-of-type(5)
	{
		> a
		{
			margin-left: $indentation * ($multiplier * 4);
			opacity: .5;
		}
	}
}

/*
#work
{
	height: 37em;
	
	> header
	{
		margin-bottom: $workTopPadding + 15;
	}

	section
	{
		position: absolute;
		background-color: white;
		margin-left: $indentation;
		
		&:first-of-type
		{
			z-index: 1;
		}	
		
		&:target
		{
			z-index: 2;
		}
		
		> div
		{
			min-width: 50em;
		}
		
		> a
		{
			position: absolute;
			width: 5em;
			margin-top: -$workTopPadding;
			margin-bottom: 5em;
			background-color: none;
		}
		
		p + div
		{
			position: absolute;
			bottom: 0;
		}
	
		p + div > img
		{
			max-width: 4em;
			height: 4em;
			vertical-align: bottom;
			margin-right: 1em;
		}
		
		> a > img
		{
			width: 85px;
			height: 85px;
		}
		
		> div > div > img:only-child
		{
			max-height: $workimagesquare;
			max-width: $workimagesquare;
		}
		
		> div > div
		{
			display: inline-block;
			vertical-align: top;
			
			&:first-of-type
			{
				text-align: center;
				min-width: $workimagesquare;
			}
			
			&:nth-of-type(2)
			{
				width: 25em;
				padding-left: 1em;
				min-height: $workimagesquare;
				position: relative;
			}
		}
		
		header
		{
			margin-bottom: 1.5em;
			margin-top: -.85em;
		}
		
		hgroup
		{
			
			h2
			{
				margin: 0;
				color: $mintGreen;
				font-family: "Blanch Caps";
				font-weight: normal;
				font-style: normal;
				font-size: 2.5em;
			}
			
			h3
			{
				font-weight: lighter;
				font-family: Helvetica, sans-serif;
				color: $darkGray;
				font-size: .9em;
				text-transform: lowercase;
			}
		}
		
		p
		{
			font-weight: lighter;
			font-family: Helvetica, sans-serif;
			font-size: .9em;
			line-height: 1.3em;
			width: 21em;
		}
		
	}
	
	> section:nth-of-type(2)
	{
		> a
		{
			margin-left: $indentation * ($multiplier * 1);
		}
	}
	
	> section:nth-of-type(3)
	{
		> a
		{
			margin-left: $indentation * ($multiplier * 2);
		}
	}
	
	> section:nth-of-type(4)
	{
		> a
		{
			margin-left: $indentation * ($multiplier * 3);
		}
	}
	
	> section:nth-of-type(5)
	{
		> a
		{
			margin-left: $indentation * ($multiplier * 4);
			opacity: .5;
		}
	}
	
	> section
	{
		> a
		{
			z-index: 2;
		}
	}
}*/
