@import 'bourbon';

$someOrange: #D59029;
$someTanColor: #E6E2D0;
$someLightGray: #B8B5AA;
$someDarkGray: #3A3A3A;
$someBlack: #303030;
$anotherLightGray: #8A8A8A;
$mountainHeight: 1170px;
$projectImagesWidth: 1024px;
$projectImageHeight: 576px;
$workPreviewImagesSize: 270px;
$placeHolderColor: #FFFFFF;
$headerHeight: 100px;
$transitionSpeed: .25s;
$childPageHeaderSpacing: 60px;

@mixin linkStyle
{
	color: $someDarkGray;
	opacity: .6;
	font-weight: 300;
	font-style: italic;
	margin-bottom: 20px;
	
	&::after
	{
		content: " >";
	}
}

@mixin hoverTransition
{
	transition: opacity $transitionSpeed linear, margin $transitionSpeed linear
}

@mixin headerCommon
{
	height: $headerHeight;
	background-color: rgba(255,255,255,.75);
	position: fixed;
	z-index: 5;
	width: 100%;
}

html, body, p, h1
{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

html, body
{
	height: 100%;
}

a:link, a:hover, a:active, a:visited
{
	color: inherit;
	text-decoration: none;
}

body:not(#projectpage) header
{
	@include headerCommon;
	margin-top: -$headerHeight;
	transition: margin .4s linear;
	
	a:link, a:active, a:visited
	{
		margin-left: 68px;
		padding-right: 14px;
		font-size: 18pt;
		color: rgba(58,58,58,.75);
		padding-bottom: 5px;
		border-bottom: 2px transparent solid;
	}
	
	a:not(:first-child):hover
	{
		border-bottom: 2px $someOrange solid;
	}
}

.bringItBack
{
	margin-top: 0 !important;
}

header
{
	img
	{
		width: 94px;
		height: 64px;
	}
}

#projectpage header
{
	@include headerCommon;
}

#projectpage
{
	background-color: $someTanColor;
	
	& > header
	{
		opacity: 1;
		position: relative;
	}
	
	.title, .backNav
	{
		text-align: center;
		padding: 3em;
		color: $someDarkGray;
		margin: 0 auto;
		width: 20em;
	}
	
	.title
	{
		padding: $childPageHeaderSpacing 0;
		
		h1, h2
		{
			padding: 0;
			margin: 0;
		}
		
		h1
		{
			padding: .5em;
		}
		
		h2
		{
			font-weight: 300;
			font-size: 14pt;
		}
		
		border-bottom: $someOrange 2px solid;
	}
	
	svg
	{
		fill: $someDarkGray;
	}
}

section, header > div, header
{
	display: flex;
	justify-content: center;
	align-items: center;
}

section
{
	flex-direction: column;
	
	h1
	{
		background-color: white;
		color: $someOrange;
		padding: 15px 45px 15px 15px;
		width: 100px;
		margin-bottom: 86px;
		text-transform: lowercase;
	}
}

footer
{
	height: 100px;
	background-color: $anotherLightGray;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	> div
	{
		display: flex;
		align-items: center;
	}
	
	p
	{
		color: #C4C4C4;
		text-transform: lowercase;
		font-size: 10pt;
		margin-left: 3em;
		
		span
		{
			margin: 0 .5em;
		}
	}
}

#intro
{
	background-image: url("../images/Mt-Hood-Gotham.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: $mountainHeight;
	position: fixed;
	width: 100%;
	height: 100%;
	
	img
	{
		border-right: 1px solid rgba(255,255,255,.3);
		padding: 63px 63px 63px 30px;
		margin-right: 64px;
	}
	
	p
	{
		color: white;
		opacity: .6;
		font-weight: 100;
		
		span
		{
			color: $someOrange;
		}
	}
	
	& + div
	{
		position: relative;
		margin-top: $mountainHeight * 2;
	}
}

#intro, header
{
	top: 0;
}

#initial
{
	display: flex;
	flex-display: row;
	align-items: center;
}

.central
{
	display: flex;
	flex-direction: column;
	background-color: inherit;
	width: 900px;
}

#work
{
	background-color: $someTanColor;
	height: 793px;
	padding-bottom: 150px - 53;
		
		
	h1
	{
		margin-bottom: 86px - 17;
	}
	
	.central > div
	{
		margin-left: -22px;
		margin-right: -44px;
		margin-bottom: 90px;
		
		// Have to wait til flex-wrap shit is supported in FF
		// flex-flow: row wrap;
		// display: flex;
	}
}

img[alt="logo"]
{
	cursor: pointer;
}

.projectImage
{
	width: $projectImagesWidth;
	height: $projectImageHeight;
	display: inline-block;
	overflow: hidden;
	
	&:not(:last-child)
	{
		margin-bottom: 1em;
	}
	
	> div
	{
		text-align: left;
		padding: 30px 1em;
		position: relative;
		background-color: $someOrange;
		opacity: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		@include hoverTransition;
		
		h2
		{
			color: white;
			font-weight: 300;
		}
		
		a
		{
			@include linkStyle;
		}
		
		h2, a
		{
			display: inline;
			vertical-align: middle;
			margin: 0;
			padding: 0;
		}
	}
}

.projectImage:hover > div
{
	margin-top: -89px;
	opacity: .95;
}

.workPreviews
{
	// Contains image and child div with paragraph and link
	> div
	{
		width: $workPreviewImagesSize;
		display: inline-block;
		margin: 22px;
		overflow: hidden;
		
		img
		{
			height: $workPreviewImagesSize;
			width: $workPreviewImagesSize;
			
			&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3)
			{
				margin-top: 0;
			}
		}
		
		// Paragraph and Link
		> div
		{
			position: relative;
			z-index: 1;
			opacity: 0;
			background-color: white;
			height: $workPreviewImagesSize;
			width: $workPreviewImagesSize;
			margin-top: -$workPreviewImagesSize - 5px;
			
			> div
			{
				padding: 20px;
				height: $workPreviewImagesSize - 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				
				h2
				{
					margin: 0;
					padding: 0;
					font-size: 18pt * .8;
					line-height: 25pt * .8;
					font-weight: normal;
				}
				
				p
				{
					font-size: 14pt * .9;
					line-height: 22pt * .7;
					font-weight: 300;
				}
				
				a
				{		
					@include linkStyle;
				}
			}
		}
		
		img + div
		{
			background-color: $someOrange;
			color: white;
			// margin-left: -$workPreviewImagesSize;
			overflow: hidden;
		}
		
		&:hover > img + div
		{
			margin-left: 0;
			opacity: .95;
		}	
		
		&:hover > img + div, img + div
		{
			@include hoverTransition;
		}
	}
}

#resume
{
	background-color: $someLightGray;
	padding-bottom: 168px;
	
	h1
	{
		width: 122px;
	}

	p
	{
		color: white;
		font-size: 14pt;
	}
}

.container > div:not(.activeObject)
{
	display: none;
}

.container > div
{
	height: 300px;
}

#resumeCopy
{
	p
	{		
		&:first-of-type
		{
			font-size: 20pt;
			line-height: 30pt;
			margin-bottom: 1em;
		}
	}
	
	& > div:first-of-type
	{
		display: flex;
		align-items: center;
		
		> div
		{
			padding: 0 5em;
		}
	}
	
	& + p
	{
		text-align: center;
	}
}

#contact
{
	background-color: $someDarkGray;
	color: white;
	padding-bottom: 130px;
	
	h3
	{
		width: 15em;
		font-size: 18pt;
		font-weight: 100;
		font-style: normal;
		margin: -.5em 0 0;
		line-height: 32pt;
		
		& > span
		{
			padding-bottom: 5px;
			border-bottom: 2px $someOrange solid;
			padding-right: 14px;
		}
	}
	
	form
	{
		overflow: hidden;
	}
	
	p
	{
		width: 22em;
		line-height: 18pt;
		
		&:first-of-type
		{
			margin: 2em 0 2em 0;
		}
	}
	
	input:not([type="submit"]), textarea
	{
		background-color: $someBlack;
	}
	
	input, textarea
	{
		border: none;
		color: white;
		font-family: 'Open Sans', sans-serif;
		font-size: 18pt;
		width: 100%;
		margin-bottom: 20px;
		outline: none;
	}
	
	input:focus, textarea:focus
	{
		background-color: #8a8a8a;
	}
	
	input
	{
		height: 60px;
	}
	
	textarea
	{
		height: 300px;
		padding-top: 15px;
	}
	
	.central > div
	{
		display: flex;
		flex-direction: row;
		
		> div
		{
			flex: 0 0 50%;
		}
		
		.innerCircle
		{
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: space-between;
		}
	}
	
	input[type="text"], input[type="email"], textarea
	{
		padding-left: 15px;
	}
}

#socials
{
	margin-top: 3em;
	margin-bottom: 1.25em;
	
	svg
	{
		margin-right: 20px;
	}
	
	svg path
	{
		@include transition (fill 1s ease-out);
		fill: $anotherLightGray;
	}
	
	svg:hover path
	{
		fill: $someOrange;
	}
}

a[href*=".pdf"]
{
	padding: 1em 4em;
	margin-left: 1em;
}

.backNav
{
	border-top: $someOrange 2px solid;
	
	img
	{
		vertical-align: middle;
		padding-right: 1.5em;
	}
}

.pictures
{
	padding: $childPageHeaderSpacing 0;
	text-align: center;
	
	img
	{
		width: $projectImagesWidth;
		height: $projectImageHeight;
	}
}

.obfusc
{
	display: none;
}

.seeThrough
{
	opacity: 0;
}

.rightArrow, .leftArrow
{
	flex: 0 0 34px;
	width: 34px;
	height: 57px;
	cursor: pointer;
}

.rightArrow:hover, .leftArrow:hover, a[href*=".pdf"]:hover, input[type="submit"]:hover, div.backNav a:hover img
{
	opacity: .75;
}

input[type="submit"]
{
	cursor: pointer;
}

.rightArrow
{
	@include transform(rotate(180deg));
}

.indicators
{
	margin: 3em 0 5em 0;
	text-align: center;
	
	svg
	{
		margin-right: 25px;
		width: 10px;
		height: 10px;
		
		rect
		{
			fill: white;
		}
	}
}

svg.activeIndicator rect
{
	fill: $someOrange;
}

.orangeButton
{
	background-color: $someOrange;
	text-transform: uppercase;
}

.fadeItBack
{
	opacity: 1 !important;
}

.permaUnderline
{
	padding-bottom: 5px;
	border-bottom: 2px $someOrange solid;
	padding-right: 14px;
	color: white !important;
}

.columnFlex
{
	flex-direction: column;
	width: 725px;
	font-size: 1.2em;
	align-items: stretch !important;
	
	& p:first-of-type
	{
		margin-bottom: 1em;
	}
}

// Color the placeholders
*::-webkit-input-placeholder 
{
	color: $placeHolderColor;
}    

*::-moz-placeholder 
{
	/* FF 19+ */
	color: $placeHolderColor;
	opacity: 1;
}

*:-ms-input-placeholder 
{
	/* IE 10+ */
	color: $placeHolderColor;
}