@import 'bourbon';
@include font-face(NewsGothic, "../fonts/nwgthc", normal, normal);

$someOrange: #D59029;
$someTanColor: #E6E2D0;
$someLightGray: #B8B5AA;
$someDarkGray: #3A3A3A;
$someBlack: #303030;
$anotherLightGray: #8A8A8A;
$mountainHeight: 1170px;

$workPreviewImagesSize: 270px;

html, body, p, h1
{
	padding: 0;
	margin: 0;
	font-family: NewsGothic;
}

html, body
{
	height: 100%;
}

a:link, a:hover, a:active, a:visited
{
	color: inherit;
	text-decoration: none;
}

header
{
	height: 100px;
	background-color: rgba(255,255,255,.75);
	position: fixed;
	z-index: 5;
	width: 100%;
	opacity: 0;
	@include transition (opacity .2s ease-in);
	
	a:link, a:active, a:visited
	{
		margin-left: 68px;
		padding-right: 14px;
		font-size: 18pt;
		color: rgba(58,58,58,.75);
		padding-bottom: 5px;
		border-bottom: 2px transparent solid;
	}
	
	a:not(:first-child):hover
	{
		border-bottom: 2px $someOrange solid;
	}
	
	img
	{
		width: 94px;
		height: 64px;
	}
}

section, header > div, header
{
	display: flex;
	justify-content: center;
	align-items: center;
}

section
{
	flex-direction: column;
	
	h1
	{
		background-color: white;
		color: $someOrange;
		padding: 15px 45px 15px 15px;
		width: 100px;
		margin-bottom: 90px;
		text-transform: lowercase;
	}
}

footer
{
	height: 100px;
	background-color: $anotherLightGray;
	font-family: NewsGothic;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	> div
	{
		display: flex;
		align-items: center;
	}
	
	p
	{
		color: #C4C4C4;
		text-transform: lowercase;
		font-size: 10pt;
		margin-left: 3em;
		
		span
		{
			margin: 0 .5em;
		}
	}
}

#intro
{
	background-image: url("../images/Mt-Hood-Gotham.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: $mountainHeight;
	position: fixed;
	width: 100%;
	height: 100%;
	
	img
	{
		border-right: 1px solid rgba(255,255,255,.3);
		padding: 63px 63px 63px 30px;
		margin-right: 64px;
	}
	
	p
	{
		color: white;
		opacity: .6;
		font-weight: 100;
		
		span
		{
			color: $someOrange;
		}
	}
	
	& + div
	{
		position: relative;
		margin-top: $mountainHeight;
	}
}

#intro, header
{
	top: 0;
}

#initial
{
	display: flex;
	flex-display: row;
	align-items: center;
}

.central
{
	display: flex;
	flex-direction: column;
	background-color: inherit;
	width: 900px;
}

#work
{
	background-color: $someTanColor;
	height: 793px;
	padding-bottom: 33px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		
	.central > div
	{
		margin-left: -22px;
		margin-right: -44px;
		margin-bottom: 90px;
		
		// Have to wait til flex-wrap shit is supported in FF
		// flex-flow: row wrap;
		// display: flex;
	}
}

img[alt="logo"]
{
	cursor: pointer;
}

.workPreviews
{
	// Contains image and child div with paragraph and link
	> div
	{
		width: $workPreviewImagesSize;
		display: inline-block;
		margin: 22px;
		overflow: hidden;
		
		img
		{
			height: $workPreviewImagesSize;
			width: $workPreviewImagesSize;
			
			&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3)
			{
				margin-top: 0;
			}
		}
		
		// Paragraph and Link
		> div
		{
			position: relative;
			z-index: 1;
			opacity: 0;
			background-color: white;
			height: $workPreviewImagesSize;
			width: $workPreviewImagesSize;
			margin-top: -$workPreviewImagesSize - 4px;
			
			> div
			{
				padding: 20px;
				height: $workPreviewImagesSize - 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				
				h2
				{
					margin: 0;
					padding: 0;
					font-size: 18pt * .8;
					line-height: 25pt * .8;
					font-weight: normal;
				}
				
				p
				{
					font-style: italic;
					font-size: 14pt * .9;
					line-height: 22pt * .7;
				}
				
				a
				{		
					color: $someDarkGray;
					opacity: .6;
					font-style: italic;
					margin-bottom: 20px;
					
					&::after
					{
						content: " >";
					}
				}
			}
		}
		
		img + div
		{
			background-color: $someOrange;
			color: white;
			margin-left: -$workPreviewImagesSize;
			overflow: hidden;
		}
		
		&:hover > img + div
		{
			margin-left: 0;
			opacity: .95;
		}	
		
		&:hover > img + div, img + div
		{
			transition: opacity .5s linear, margin .5s cubic-bezier(0.460, 0.155, 0.370, 1.355);
			transition-delay: .5s;
		}
	}
}

#resume
{
	background-color: $someLightGray;
	padding-bottom: 63px;
	
	h1
	{
		width: 122px;
	}

	p
	{
		color: white;
		font-size: 14pt;
	}
}

.container > div:not(.activeObject)
{
	display: none;
}

.container > div
{
	height: 300px;
}

#resumeCopy
{
	p
	{		
		&:first-of-type
		{
			font-size: 20pt;
			line-height: 30pt;
			margin-bottom: 1em;
		}
	}
	
	& > div:first-of-type
	{
		display: flex;
		align-items: center;
		
		> div
		{
			padding: 0 5em;
		}
	}
	
	& + p
	{
		text-align: center;
	}
}

#contact
{
	background-color: $someDarkGray;
	color: white;
	padding-bottom: 70px;
	
	h3
	{
		width: 15em;
		font-size: 18pt;
		font-weight: 100;
		font-style: normal;
		margin: -.5em 0 0;
		line-height: 32pt;
		
		& > span
		{
			padding-bottom: 5px;
			border-bottom: 2px $someOrange solid;
			padding-right: 14px;
		}
	}
	
	form
	{
		overflow: hidden;
	}
	
	p
	{
		width: 22em;
		line-height: 18pt;
		
		&:first-of-type
		{
			margin: 2em 0 2em 0;
		}
	}
	
	input:not([type="submit"]), textarea
	{
		background-color: $someBlack;
	}
	
	input, textarea
	{
		border: none;
		color: white;
		font-family: NewsGothic;
		font-size: 18pt;
		width: 100%;
		margin-bottom: 20px;
	}
	
	input
	{
		height: 60px;
	}
	
	textarea
	{
		height: 300px;
		padding-top: 15px;
	}
	
	.central > div
	{
		display: flex;
		flex-direction: row;
		
		> div
		{
			flex: 0 0 50%;
		}
		
		.innerCircle
		{
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: space-between;
		}
	}
	
	input[type="text"], input[type="email"], textarea
	{
		padding-left: 15px;
	}
}

#socials
{
	margin-top: 3em;
	margin-bottom: 1.25em;
	
	svg
	{
		margin-right: 20px;
	}
	
	svg path
	{
		@include transition (fill 1s ease-out);
		fill: $anotherLightGray;
	}
	
	svg:hover path
	{
		fill: $someOrange;
	}
}

a[href*=".pdf"]
{
	padding: 1em 4em;
	margin-left: 1em;
}

.obfusc
{
	display: none;
}

.seeThrough
{
	opacity: 0;
}

.rightArrow, .leftArrow
{
	flex: 0 0 34px;
	width: 34px;
	height: 57px;
	cursor: pointer;
}

.rightArrow:hover, .leftArrow:hover, a[href*=".pdf"]:hover, input[type="submit"]:hover
{
	opacity: .75;
}

input[type="submit"]
{
	cursor: pointer;
}

.rightArrow
{
	@include transform(rotate(180deg));
}

.indicators
{
	margin: 3em 0 5em 0;
	text-align: center;
	
	svg
	{
		margin-right: 25px;
		width: 10px;
		height: 10px;
		
		rect
		{
			fill: white;
		}
	}
}

svg.activeIndicator rect
{
	fill: $someOrange;
}

.orangeButton
{
	background-color: $someOrange;
	text-transform: uppercase;
}

.fadeItBack
{
	opacity: 1;
}

.permaUnderline
{
	padding-bottom: 5px;
	border-bottom: 2px $someOrange solid;
	padding-right: 14px;
	color: white !important;
}

.columnFlex
{
       flex-direction: column;
       width: 725px;
       font-size: 1.2em;
       align-items: stretch !important;

       & p:first-of-type
       {
               margin-bottom: 1em;
       }
}