@import 'bourbon';

/* Colors */
$someOrange: #D59029;
$someTanColor: #E6E2D0;
$someLightGray: #B8B5AA;
$contactBackgroundColor: #E6E6E6;
$someDarkGray: #3A3A3A;
$someBlack: #303030;
$limeGreen: #99CC99;
$anotherLightGray: #8A8A8A;
$placeHolderColor: #FFFFFF;
$evenSectionBackground: $placeHolderColor;
$accentWord: $limeGreen;
$accentWordHover: #66CC66;
$linksColor: #9A9A9A;
$headerBackground: #E5E5E5;
$resumeBackgroundColor: #F0F0F0;
$inputBackgroundColor: #CCCCCC;
$inputBorderColor: #B8B8B8;
$footerBackgroundColor: $placeHolderColor;

/* Sizes */
$mountainHeight: 1170px;
$projectImagesWidth: 1024px;
$projectImageHeight: 576px;
$workPreviewImagesSize: 210px;
$headerHeight: 70px;
$childPageHeaderSpacing: 60px;
$workImagesPadding: 20px;

/* Transitions */
$transitionSpeed: .5s;

@mixin centerShit
{
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
}

@mixin linkStyle
{
	color: $someDarkGray;
	opacity: .6;
	font-style: italic;
}

@mixin fontStyles
{
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

@mixin hoverTransition
{
	transition: opacity $transitionSpeed linear, margin $transitionSpeed linear;
}

@mixin previewImagesTransition
{
	transition: all .3s ease-out;
}

@mixin headerCommon
{
	height: $headerHeight;
	background-color: #FFFFFF;
	width: 100%;
	border-bottom: 1px solid $limeGreen;
	color: $linksColor;
}

html, body, p, h1, h3, h2
{
	padding: 0;
	margin: 0;
	@include fontStyles;
}

html, body
{
	height: 100%;
}

a:link, a:hover, a:active, a:visited
{
	color: inherit;
	text-decoration: none;
}

header
{
	@include headerCommon;
	
	a:link:not(:first-child)
	{
		// Need to take off 4 pixes or so due to the font to acheive 50px between links
		margin-left: 46px;
		font-size: 16pt;
		color: $linksColor;
	}
}

.colorHover
{
	color: $linksColor;
	@include previewImagesTransition;
	
	&:hover
	{
		color: $limeGreen !important;
		@include previewImagesTransition;
	}
}

.hiddenHeader
{
	margin-top: -$headerHeight;
	transition: margin .4s linear;
	position: fixed;
	z-index: 5;
}

.bringItBack
{
	margin-top: 0 !important;
}

.navLogo
{
	width: 58px;
	height: 40px;
}

.accentWord
{
	color: $accentWord;
	
	&:hover
	{
		color: $accentWordHover;
	}
}

.flex-row-center
{
	@include centerShit;
}

#projectpage
{
	background-color: $headerBackground;
	
	.title
	{
		font-size: 30pt;
		color: $limeGreen;
		height: 150px;
		line-height: 150px;
	}
	
	.title, .backNav
	{
		text-align: center;
	}
	
	.backNav
	{
		padding: 3em;
	}
	
	svg
	{
		fill: $someDarkGray;
	}
	
	.pictures
	{
		img
		{
			width: $projectImagesWidth;
			height: $projectImageHeight;
		}
	}
}

section, header > div, header
{
	@include centerShit;
}

section
{
	@include flex-direction(column);
	
	h1
	{
		font-size: 30pt;
		color: $limeGreen;
		height: 150px;
		line-height: 160px;
		text-transform: lowercase;
	}
}

.alternateHeader
{
	width: $workPreviewImagesSize;
	text-align: center;
}

footer
{
	height: 100px;
	background-color: $footerBackgroundColor;
	
	@include centerShit;
	@include flex-direction(row);
	
	> div
	{
		@include display(flex);
		@include align-items(center);
	}
	
	p
	{
		color: $linksColor;
		text-transform: lowercase;
		font-size: 10pt;
		margin-left: 3em;
		
		a:link
		{
			text-decoration: underline;
		}
		
		span:not(#copyrightYear)
		{
			margin: 0 .5em;
		}
	}
}

.scrollLink p, .workPreviews p
{
	font-size: 11pt;
	color: $linksColor;
	padding-top: 10px;
	text-transform: lowercase;
	@include previewImagesTransition;
}

.logo
{
	width: 564px;
	height: 179px;
}

.sideHeader
{
	padding-left: 3.6rem;
}

#resume
{
	background-color: $resumeBackgroundColor;
}

#intro
{
	justify-content: flex-start;
	background-color: $headerBackground;
	position: fixed;
	width: 100%;
	height: 100%;
	
	background-image: url("../images/MM_Head.png");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 30% auto;
	
	color: $linksColor;
	font-size: 22pt;
	line-height: 32pt;
	
	& + div
	{
		position: relative;
		margin-top: $mountainHeight * 2;
	}
}

.aboveFace
{
	margin-top: 80px;
}

.columnFlex
{
	margin-top: 5%;
	width: 700px !important;
	opacity: 1 !important;	
}

.scrollThing
{
	text-transform: uppercase;
	text-align: center;
	font-size: 18pt;
	color: $linksColor;
	margin-top: 2%;
}

#intro, header
{
	top: 0;
}

.central
{
	@include display(flex);
	@include flex-direction(column);
	background-color: inherit;
	width: 960px;
}

#work
{
	background-color: $evenSectionBackground;
	
	.central > div
	{
		text-align: center;
		margin-bottom: 112px;
	}
}

img[alt="logo"]
{
	cursor: pointer;
}

.smallLogo
{
	width: 131px;
}

.caption
{
	height: 83px;
	padding: 10px 20px 0 20px;
	
	> div
	{
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.viewProjectLink
{
	padding: .6rem 2rem;
	font-size: 14pt;
}

.captionTitle
{
	font-size: 18pt;
	color: $linksColor;
}

.workPreviews
{
	// Contains image and child div
	> div
	{
		width: $workPreviewImagesSize;
		display: inline-block;
		
		&:hover img
		{
			border: 1px solid $limeGreen;
			@include previewImagesTransition;
		}
		
		&:hover p
		{
			color: $limeGreen;
			@include previewImagesTransition;
		}
		
		&:nth-of-type(-n + 5)
		{
			// This is still on the first row
			margin-top: 60px - 38;
		}
		
		&:nth-of-type(4n + 2)
		{
			margin: 0 40px;
		}
		
		&:nth-of-type(4n + 3)
		{
			margin-right: 40px;
		}
		
		img
		{
			height: $workPreviewImagesSize;
			width: $workPreviewImagesSize;
			padding: 1px;
			border: 1px solid transparent;
			@include previewImagesTransition;
		}
	}
}

.container > div:not(.activeObject)
{
	display: none;
}

// Height for the resume section
.container
{
	height: 250px;
}

#resumeCopy
{
	p
	{		
		color: $linksColor;
	
		&:first-of-type
		{
			font-size: 22pt;
			line-height: 32pt;
			margin-bottom: 1em;
		}
		
		&:nth-of-type(2)
		{
			font-size: 16pt;
			line-height: 24pt;
		}
	}
	
	& > div:first-of-type
	{	
		@include display(flex);
		@include align-items(center);
		
		> div
		{
			padding: 0 37px;
		}
	}
	
	& + p
	{
		text-align: center;
	}
}

#contact
{
	background-color: $contactBackgroundColor;
	color: $linksColor;
	padding-bottom: 130px;
	
	h3
	{
		width: 15em;
		font-size: 18pt;
		margin: -.4em 0 0 0;
		line-height: 32pt;
		
		& > span
		{
			padding-bottom: 5px;
			border-bottom: 2px $someOrange solid;
			padding-right: 14px;
		}
	}
	
	form
	{
		overflow: hidden;
	}
	
	p
	{
		width: 22em;
		line-height: 18pt;
	}
	
	input:not([type="submit"]), textarea
	{
		background-color: $inputBackgroundColor;
		border: 1px $inputBorderColor solid;
	}
	
	input, textarea
	{
		@include fontStyles;
		color: white;
		font-size: 18pt;
		width: 100%;
		margin-bottom: 20px;
		outline: none;
	}
	
	input:focus, textarea:focus
	{
		background-color: $linksColor;
		border: 1px solid #868686;
	}
	
	input
	{
		height: 60px;
	}
	
	textarea
	{
		height: 300px;
		padding-top: 15px;
	}
	
	.central > div
	{		
		@include display(flex);
		@include flex-direction(row);
		
		> div
		{
			@include flex(0 0 50%);
		}
	}
	
	input[type="text"], input[type="email"], textarea
	{
		padding-left: 15px;
	}
}

.innerCircle > div:first-of-type
{	
	@include display(flex);
	@include justify-content(space-between);
	@include flex-direction(column);
	
	height: 480px;
}

#socials
{	
	svg
	{
		margin-right: 14px;
	}
	
	svg path
	{
		@include transition (fill 1s ease-out);
		fill: $linksColor;
	}
	
	svg:hover path
	{
		fill: $limeGreen;
	}
}

a[href*=".pdf"]
{
	padding: 1em 4em;
	margin-left: 50px;
	font-size: 16pt;
}

// TODO: Update this so that the submit button doesn't gray out
.formSuccess
{
	input:not(.styledButton), textarea
	{
		opacity: .2;
	}
	
	input[type="submit"]
	{
		font-size: 14pt !important;
	}
}

.specialWords
{
	color: #e6e2d0;
	font-style: italic;
}

.mailConfirm
{	
	@include centerShit;
	
	p
	{
		font-size: 16pt;
	}
}

.backNav
{	
	font-size: 14pt;
	color: $linksColor;
	
	img
	{
		vertical-align: middle;
		padding-right: 1.5em;
		height: 40px;
		width: 23px;
		
		&:hover
		{
			opacity: .5;
		}
	}
}

.obfusc
{
	display: none;
}

.seeThrough
{
	opacity: 0;
}

.arrow
{
	flex: 0 0 23px;
	width: 23px;
	height: 40px;
	cursor: pointer;
}

.arrow:hover, a[href*=".pdf"]:hover, input[type="submit"]:hover, div.backNav a:hover img
{
	opacity: .75;
}

input[type="submit"]
{
	cursor: pointer;
}

.rotate180
{
	@include transform(rotate(180deg));
}

.indicators
{
	margin:  50px 0 66px 0;
	text-align: center;
	
	svg
	{
		margin-right: 25px;
		width: 10px;
		height: 10px;
		
		rect
		{
			fill: white;
		}
	}
}

svg.activeIndicator rect
{
	fill: $limeGreen;
}

.resumeDownload
{
	margin-bottom: 170px;
	text-align: center;

	p
	{
		display: inline-block;
		color: $linksColor;
	}
}

.styledButton
{
	background: transparent;
	border: 1px solid $limeGreen;
	text-transform: uppercase;
	color: $limeGreen !important;
	@include previewImagesTransition;
	
	&:hover
	{
		background: $limeGreen;
		color: $placeHolderColor !important;
		@include previewImagesTransition;
	}
}

.fadeItBack
{
	opacity: 1 !important;
}

.columnFlex
{
	@include flex-direction(column);
	@include align-items(stretch);
	width: 725px;
	
	& p:first-of-type
	{
		margin-bottom: 1em;
	}
}

#intro .columnFlex
{
	width: 555px;
}

input[type="submit"]:disabled
{
	cursor: default;
}

input[type="submit"]:disabled:hover
{
	opacity: 1;
}

// Color the placeholders
*::-webkit-input-placeholder 
{
	color: $placeHolderColor;
	@include fontStyles;
}    

*::-moz-placeholder 
{
	/* FF 19+ */
	color: $placeHolderColor;
	opacity: 1;
	@include fontStyles;
}

*:-ms-input-placeholder 
{
	/* IE 10+ */
	color: $placeHolderColor;
	@include fontStyles;
}