$mintGreen: #BDE1CD;
$darkGray: #292929;
$lightGray: #646464;

@font-face 
{                               
	font-family: "Outage Cut";
	src: url("fonts/Outage Cut.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face 
{                               
	font-family: "Lavanderia Regular";
	src: url("fonts/Lavanderia Regular.otf");
	font-weight: normal;
	font-style: normal;
}

html, body, h1
{
	margin: 0;
	padding: 0;
}

a:link, a:hover, a:active, a:visited
{
	color: inherit;
	text-decoration: none;
}

header
{
	nav + h1
	{
		color: white;
		background-image: url("images/woodplanks.png");
		background-size: 1680px 300px;
		font-size: 4em;
		padding: 1em .5em 1em .5em;
	}
	
	nav
	{
		margin-top: 90px;
		margin-right: 20%;
		text-align: right;
		
		a
		{
			text-transform: uppercase;
		}
	}
	
	span
	{
		position: relative;
		display: block;
		margin-left: 3.5em;
	}
	
	span:first-child
	{
		text-transform: uppercase;
		font-family: "Outage Cut";
		font-weight: normal;
		font-style: normal;
	}
	
	span:nth-child(2)
	{
		font-family: "Lavanderia Regular";
		padding-left: 3.5em;
		margin-top: -.85em;
		font-weight: normal;
		font-style: normal;
	}
}