doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Maglio Made
        link(rel="stylesheet", href="css/mm.css")
    body(id="projectpage")
        header
            div
                img(src="images/magliomade-logo-icon.svg", alt="logo")
        hgroup
            h1 #{page.title}