header
    nav
        div.flex-row-center
            a(href="../index.html")
                img.navLogo(src="../images/MM_Nav-Logo.svg", alt="logo")
                a.scrollLink(href="../index.html#work") work
                a.scrollLink(href="../index.html#resume") resume
                a.scrollLink(href="../index.html#contact") contact